@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Instructor>
<h2>
    Instructors
</h2>

@{
    foreach(Instructor instructor in Model)
    {
        <h4>@instructor.FirstName</h4>
    };
}
